<footer class="page-footer font-small unique-color-dark pt-4">
    <div class="footer-copyright text-center py-3">© {{ "now"|date("Y") }} Copyright:
        <a href="{{ path('home_page') }}"> phpantry.com</a>
    </div>
</footer>
