html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}

:root {
    --site_font: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --site_bg_color: rgba(255, 255, 255, 1);
    --menu_bg_color: #100E17;
    --jumbotron_bg_color: #100E17;
    --footer_bg_color: #fafafa;
    --site_white: #fafafa;
    --site_black: #444444;
    --action_color: #4E5B92;
    --action_color_hover: #8892BF;
    --logout_color: #DC3645;
    --logout_color_hover: rgba(220, 54, 69, 0.8);
    /* for hamburger icon*/
    --for_ham_icon: 15px 0;
    --ham_top: 25px;
}


.site {
    display: flex;
    min-height: 100vh;
    background: var(--site_bg_color);
    flex-direction: column;
    font-family: var(--site_font);
    font-size: 16px;
}

.site_content {
    flex: 1;
}

/* NAVBAR */

.menu {
    width: 100%;
    padding: var(--for_ham_icon);
    background: var(--menu_bg_color);
    color: var(--site_white);
}

.container_header {
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 65px;
}

.logo img {
    width: 100%;
}


/* Hamburger icon */
#toggle_menu {
    cursor: pointer;
    top: var(--ham_top);
    right: 16%;
    display: none;
    position: absolute;
}

#toggle_menu span {
    display: block;
    width: 35px;
    height: 3px;
    margin: 6px 0;
    border-radius: 4px;
    background: var(--site_white);
}

#toggle_menu.open span:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 5px);
}

#toggle_menu.open span:nth-child(2) {
    opacity: 0;
}

#toggle_menu.open span:nth-child(3) {
    transform: rotate(45deg) translate(-8px, -8px);
}

.navigation {
    margin-left: auto;
}

.menu_items {
    display: flex;
    margin-left: auto;
}

.menu_items li {
    margin-left: 25px;
}

.menu_item {
    margin: 0 5px;
    text-transform: capitalize;
    color: var(--site_white);
}

.menu_item:hover {
    color: var(--action_color_hover);
    text-decoration: none;
}

.link_active {
    color: var(--action_color) !important;
}

.navbar_btn {
    padding: 10px 25px;
    color: var(--site_white);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    background: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s;
}

#logout_btn {
    border-color: var(--logout_color);
    color: var(--logout_color);
}

#register_btn:hover {
    border-color: var(--action_color);
    color: var(--action_color_hover);
}

#logout_btn:hover {
    background-color: var(--logout_color);
    color: var(--site_white);
}

/*HOME PAGE*/


.jumbotron {
    width: 100%;
    background: var(--jumbotron_bg_color);
    color: var(--site_white);
    overflow: hidden;
}

.jumbotron h1 {
    padding: 0;
    margin: 0;
}

.jumbotron_container {
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin: 5% auto;
}

.jumbotron_text_container {
    width: 45%;
}

.jumbotron_img_container {
    width: 45%;
}


#vs_code {
    max-width: 100%;
    min-width: 800px;
}

.latest_job {
    text-align: center;
}


/*FOOTER*/

#main_footer {
    padding: 2rem 0 4rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--menu_bg_color);
    color: var(--site_white);
}

.copyright {
    text-align: center;

}

.copyright p {
    margin-bottom: 1rem;
}

.social_icons {
    display: flex;
    margin: 0;
}

.social_icons i {
    color: var(--site_white);
    margin: 0 10px;
}


.register_form .links {
    text-align: center;
}

.copyright a {
    position: relative;
    color: var(--site_white);
    font-size: 0.9rem;
    text-transform: capitalize;
    margin: 0 0.6rem;
}

.copyright a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -5px;
    left: 0;
    background-color: var(--site_white);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}


.copyright a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.info {
    margin: 0;
}

.info a {
    color: var(--site_white);
}

/*ACCOUNT PAGE*/

.account {
    width: 70%;
    margin: 3rem auto;
}

.account a {
    color: var(--site_black);
}

.account h1 {
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 300;
}

.account_nav {
    margin: 2rem 0;
}

/*Page create job*/

.create_job {
    width: 70%;
    margin: 0 auto;
}

/**JOB PAGES**/


/*Job SEARCH BAR*/

.search_bar {
    padding: 4rem 0 6rem 0;
    margin-bottom: 5rem;
    background: var(--action_color);
}

.search_bar h1 {
    text-align: center;
    font-weight: 300;
    text-transform: capitalize;
    margin: 0 0 2rem 0;
    color: var(--site_white);
}

.search_bar form {
    position: relative;
    width: 50%;
    margin: 0 auto;
}

.search_bar form input[type=text] {
    width: 100%;
    height: 45px;
    padding: 15px;
    border-radius: 5px;
    border: 0;
}

.btn_search {
    position: absolute;
    right: 5px;
    top: 6px;
    border-radius: 15px;
    width: 50px;
    height: 34px;
    padding: 0;
    border: 0;
    color: var(--site_black);
    background: transparent;
    cursor: pointer;
}

/*JOBS PAGE*/

.job_image {
    width: 100px;
    min-width: 100px;
    padding: 0.6rem;
}

.job_image img {
    width: 100%;
}

.job_listing {
    width: 70%;
    margin: 2rem auto;
}


.job_listing a {
    text-decoration: none;
    color: #000000;
}

.job_card {
    display: flex;
    align-items: center;
    position: relative;
    margin: 2rem 0;
    padding: 1rem;
    height: 7rem;
    border-radius: 8px;
    transition: all .2s;
    border: 1px solid #e8ecec;
}

.new_job_label {
    width: 40px;
    position: absolute;
    left: -1.4rem;
    top: -1.1rem;
    transform: rotate(-44deg);
    z-index: 200;
    transition: all .29s;
}

.job_card:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    border-right: 4px solid var(--action_color_hover);
}

.job_card:hover .new_job_label {
    width: 40px;
}

.job_title, .job_company, .job_card li {
    margin: 0 1rem;
}

.job_title {
    font-size: 1.1rem;
}

.job_company {
    font-weight: 300;
}

.job_card ul {
    margin-left: auto;
    display: flex;
    text-align: center;
}

.job_contract {
    background: #333333;
    color: var(--site_white);
    border-radius: 3px;
    padding: 4px 5px;
    font-size: 0.8rem;
}

.job_createdAt, .job_location, .job_contract {
    font-weight: 300;
}

.job_single {
    margin: 4rem auto;
    width: 60%;
    border-radius: 8px;
    border: 1px solid #e8ecec;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.job_single .job_card_single {
    margin: 1rem 0;
}

.job_single .job_image {
    width: 120px;
    padding: 1rem;
    margin: 0 auto;
}

.job_primary_info {
    text-align: center;
    margin-bottom: 2rem;
}

.job_secondary_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.job_secondary_info li {
    margin: 0.3rem 0;
}

.job_secondary_info li a {
    color: var(--site_black);
    text-decoration: underline;
}

.job_content {
    padding-top: 2rem;
    margin: 0 3rem 3rem 3rem;
    border-top: 1px solid #e8ecec;
}

.job_content ul {
    padding-left: 40px;
}

.job_content li {
    list-style: initial;
}

.job_content a {
    text-decoration: initial;
}

/*End Job page*/

.form_control {
    margin: 0.5rem 0;
}

.form_control label, .select_type label {
    color: #444;
}

.form_control input {
    width: 100%;
    padding: 1rem;
    margin: 0.5rem 0;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.form_select select {
    background: transparent;
    margin-left: 1rem;
    border: none;
    height: 29px;
    padding: 5px;
}

.form_select select {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    height: 34px;
    width: 268px;
}

.select_type {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}


#create_job, #edit_job {
    width: 50%;
    margin: 2rem auto;
}

#create_job h1, #edit_job h1 {
    text-align: center;
    text-transform: capitalize;
    font-weight: 300;
    margin: 4rem 0;
}


/*Pagination*/

.paginator_nav {
    text-align: left;
}

.paginator_nav nav {
    display: block;
}

.paginator_nav ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

.paginator_nav a {
    color: var(--action_color);
    text-decoration: none;
    background-color: transparent;
}

.pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}

.page-link {
    position: relative;
    display: block;
    padding: .4rem 0.8rem;
    margin-left: -1px;
    line-height: 1.25;
    color: var(--action_color_hover);
    background-color: #fff;
}

.page-link:hover {
    z-index: 2;
    color: var(--site_white);
    text-decoration: none;
    background-color: var(--action_color_hover);
}

.page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.page-item:last-child .page-link {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: var(--action_color);
    border-color: var(--action_color);
}

.page-item.disabled .page-link {
    color: var(--action_color_hover);
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: var(--action_color_hover);
}

/***********************   LOGIN FORM  *********************/

#wrapper {
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    background: #100E17;
    display: flex;
    color: var(--site_white);
}

#left {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
}

#right {
    flex: 1;
}

/*** login form ***/

#signin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

#signin h1 {
    font-weight: lighter;
    font-size: 2.5rem;
}

#signin form {
    width: 80%;
    margin-bottom: 2rem;
}

#signin .logo_login img {
    width: 80px;
}

#signin label {
    font-size: 0.9rem;
    line-height: 2rem;
}

#signin .text_input, #signin .password_input, #new_password_newPassword_first,
#new_password_newPassword_second {
    margin-bottom: 1.3rem;
    width: 100%;
    border-radius: 2px;
    background: #100E17;
    border: 1px solid #555;
    color: #ccc;
    padding: 0.5rem 1rem;
}


.login_form .links {
    text-align: center;
}

.login_form .links a {
    position: relative;
    color: var(--site_white);
    font-size: 0.8rem;
    text-transform: capitalize;
    margin: 0 0.6rem;
}

.login_form .links a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -5px;
    left: 0;
    background-color: var(--site_white);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.login_form .links a:hover:before {
    text-decoration: underline;
    visibility: visible;
    transform: scaleX(1);
}


.back_home {
    color: var(--site_white);
    font-size: 1.2rem;
    font-weight: lighter;
    transition: color 0.3s ease-in-out 0s;

}

.back_home:hover {
    color: var(--action_color_hover);
}


.btn_primary {
    padding: 0.7rem 1rem;
    height: 2.7rem;
    display: block;
    border: 0;
    border-radius: 2px;
    background: var(--action_color);
    cursor: pointer;
    color: var(--site_white);
    text-align: center;
    width: 100%;
    transition: background-color 0.5s;
}

.btn_primary:hover {
    background-color: var(--action_color_hover);
}

#auth_footer {
    text-align: center;
}

#auth_footer p {
    font-weight: 300;
}

#showcase {
    background: linear-gradient(rgba(136, 146, 190, 0.75), rgba(255, 255, 255, 0.1), rgba(79, 91, 147, 0.75), rgba(183, 11, 11, 0.5)),
    url('../img/elephant1.jpg') no-repeat center center /cover;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    text-align: center;
}

#showcase a {
    color: #FFFFFF;
}

.showcase_text {
    font-size: 3rem;
    margin: 2rem 1rem;
    padding: 1rem;
    font-weight: 300;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
}

.showcase_text:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.24);
}

/*contact page*/

.contact {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--menu_bg_color);
    color: var(--site_white);
}

.contact h1 {
    font-weight: lighter;
    font-size: 2.5rem;
}

.contact .logo_contact img {
    width: 80px;
}

#contact_form {
    width: 80%;
    max-width: 600px;
    margin: 0 auto 10rem auto;
}

#contact_form form label {
    font-size: 0.9rem;
    line-height: 2rem;
}

#contact_form input, #contact_form textarea {
    margin-bottom: 1.3rem;
    width: 100%;
    border-radius: 2px;
    background: var(--menu_bg_color);
    border: 1px solid #555;
    color: #ccc;
    padding: 0.5rem 1rem;
}

#contact_form textarea {
    height: 6rem;
}

.btn_primary {
    padding: 0.7rem 1rem;
    height: 2.7rem;
    display: block;
    border: 0;
    border-radius: 2px;
    background: var(--action_color);
    cursor: pointer;
    color: var(--site_white);
    text-align: center;
    width: 100%;
    transition: background-color 0.5s;
}

.btn_primary:hover {
    background-color: var(--action_color_hover);
}


.back_home {
    color: var(--site_white);
    font-size: 1.2rem;
    font-weight: lighter;
    transition: color 0.3s ease-in-out 0s;

}

.back_home:hover {
    color: var(--action_color_hover);
}

/***********************   REGISTRATION FORM  *********************/

#registration {
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    background: #100E17;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--site_white);
}

#registration h1 {
    font-weight: lighter;
    font-size: 2.5rem;
}

#registration .logo_register img {
    width: 80px;
}

#registration form label {
    font-size: 0.9rem;
    line-height: 2rem;
}

#registration input {
    margin-bottom: 1.3rem;
    width: 100%;
    border-radius: 2px;
    background: #100E17;
    border: 1px solid #555;
    color: #ccc;
    padding: 0.5rem 1rem;
}

.register_form form {
    width: 100%;
    max-width: 600px;
    margin-bottom: 2rem;
}

.register_form .links {
    text-align: center;
}

.register_form .links a {
    position: relative;
    color: var(--site_white);
    font-size: 0.8rem;
    text-transform: capitalize;
    margin: 0 0.6rem;
}

.register_form .links a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -5px;
    left: 0;
    background-color: var(--site_white);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}


.register_form .links a:hover:before {
    text-decoration: underline;
    visibility: visible;
    transform: scaleX(1);
}


.back_home {
    color: var(--site_white);
    font-size: 1.2rem;
    font-weight: lighter;
    transition: color 0.3s ease-in-out 0s;

}

.back_home:hover {
    color: var(--action_color_hover);
}


.btn_primary {
    padding: 0.7rem 1rem;
    height: 2.7rem;
    display: block;
    border: 0;
    border-radius: 2px;
    background: var(--action_color);
    cursor: pointer;
    color: var(--site_white);
    text-align: center;
    width: 100%;
    transition: background-color 0.5s;
}

.btn_primary:hover {
    background-color: var(--action_color_hover);
}

#auth_footer {
    text-align: center;
}

#auth_footer p {
    font-weight: 300;
}

/* MEDIA QUERIES */

@media print {
    .paginator_nav a:not(.btn) {
        text-decoration: underline;
    }
}

@media (max-width: 1260px) {
    .job_listing {
        width: 90%;
    }

    #vs_code {
        max-width: 100%;
        min-width: 600px;
    }
}

@media (max-width: 1080px) {

    .job_search {
        width: 70%;
    }

    .job_search input {
        width: 100%;
        margin-bottom: 1rem;
    }

    .job_search button {
        width: 100%;
    }

}

@media (min-width: 1024px ) {
    #left {
        flex: 4;
    }

    #right {
        flex: 4;
    }

}

@media (max-width: 900px) {
    /* HEADER */
    .container_header {
        width: 90%;
        flex-wrap: wrap;
    }

    #toggle_menu {
        display: block;
        right: 8%;

    }

    .navigation {
        width: 100%;
    }

    .menu_items {
        flex-direction: column;
        display: none;
        padding-bottom: 15px;
    }

    .menu_items li {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .menu_items li a {
        padding: 20px 0;
        width: 100%;
        display: block;
        font-size: 18px;
    }

    .menu_item {
        margin: 0;
    }

    .menu_item:before {
        bottom: 0;
    }

    #vs_code {
        max-width: 100%;
        min-width: 300px;
    }

    .visible {
        background: var(--menu_bg_color);
        display: block;
        text-align: center;
    }

    .job_card {
        height: 21rem;
        flex-direction: column;
        justify-content: center;
        border: 1px solid #e8ecec;
        border-bottom: 15px solid var(--action_color_hover);
    }

    .job_title {
        text-align: center;
    }

    .job_company {
        text-align: center;
    }

    .job_card:hover {
        box-shadow: none;
        border-right: 1px solid #e8ecec;
    }


    .job_card h4 {
        margin: 0;
    }

    .job_card p {
        margin: 0;
        padding: 5px 0;
    }

    .job_card ul {
        flex-direction: column;
        margin-left: 0;
    }

    .job_card li {
        margin: 5px 0;
    }

    .job_single {
        width: 90%;
    }

    .paginator_nav {
        text-align: center;
    }


    #main_footer {
        flex-direction: column-reverse;
    }

    .copyright {
        margin: 1rem 0;
    }
}


@media (max-width: 800px) {
    .jumbotron_container {
        width: 80%;
        justify-content: center;
        flex-direction: column;
        margin: 5% auto;
    }

    .jumbotron_text_container {
        width: 100%;
    }

    .jumbotron_img_container {
        width: 100%;
    }

    .job_search {
        width: 80%;
    }

    .job_card li {
        margin: 0.6rem 1rem;
    }

    .new_job_label {
        width: 65px;
    }

    .job_image {
        width: 100px;
        min-width: 100px;
    }


    .job_card:hover .new_job_label {
        width: 65px;
    }

    #create_job {
        width: 80%;
    }

    .select_type {
        flex-direction: column;
        align-items: flex-start;
    }

    .select_type .form_select {
        margin: 0.5rem 0;
    }

    #left {
        justify-content: center;
        align-items: center;
        overflow: auto;

    }

    #right {
        display: none;
    }

    #auth_footer p {
        font-size: 0.8rem;
    }

    @media (orientation: landscape) {

        #left .logo_login {
            padding-top: 11.5rem;
        }

        #login_footer {
            padding-bottom: 2.5rem;
        }
    }

}