{% extends 'base.html.twig' %}

{% block title %} 403 error {% endblock %}

{% block body %}
    <div class="error_pages">
        <h1>Error 403</h1>
        <p>
            <a href="{{ path('home_page') }}">return to homepage</a>
        </p>
    </div>
{% endblock %}