<footer id="main_footer">
    <ul class="social_icons">
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
    </ul>
    <div class="copyright">
        <p>Copyright &copy; 2019, PHPantry All Rights Reserved</p>
        <a href="">terms of use</a> | <a href="">privacy policy</a>
    </div>
    <ul class="info">
        <li><a href="{{ path('contact_page') }}"><i class="fas fa-envelope"></i> contact</a></li>
    </ul>
</footer>
